<center><h1>정보수정</h1></center>
<form th:action="@{/mem/update}" method="post">
	<table align="center" width="600" cellspacing="0" cellpadding="0" border="1">
		<tr height="30">
			<th width="100">사용자명</th>
			<th width="100">
				<label for="password">비밀번호</label>
			</th>
			<th width="100">생년월일</th>
			<th width="200">
				<label for="email">이메일</label>
			</th>
		</tr>
		<tr height="30" align="center">
			<td th:text="${dto.username}"></td>
			<td>
				<input type="password" id="password" name="password" th:value="${dto.password}"/>
			</td>
			<td th:text="${#temporals.format(dto.birth, 'yy-MM-dd')}"></td>
			<td>
				<input type="email" id="email" name="email" th:value="${dto.email}" />
			</td>
		</tr>
		<tr height="30" align="center">
			<td colspan="4">
				<button type="submit">수정</button>
			</td>
		</tr>
	</table>
</form>