<table border="1">
  <thead>
    <tr>
      <th>제목</th>
      <th>기자(ID)</th>
      <th>작성일자</th>
      <th>승인</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="dto : ${newsList}">
      <td><a th:href="@{'/news/content/' + ${dto.num}}" th:text="${dto.title}">제목</a></td>
      <td th:text="${dto.writer}"></td>
      <td th:text="${#temporals.format(dto.reg, 'yyyy-MM-dd HH:mm')}"></td>
      <td>
        <form th:action="@{/admin/approveNews}" method="post">
          <input type="hidden" name="num" th:value="${dto.num}">
		  
		  <select class="status-select" th:data-id="${dto.status}">
		  	<option value="approve" th:selected="${dto.status == 'approve'}">승인</option>
		  	<option value="wait" th:selected="${dto.status == 'wait'}">미승인</option>
		  </select>
		  
          <button type="submit">승인</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<script>
	$(".status-select").change(function() {
	  const userId = $(this).data("id");
	  const newStatus = $(this).val();
	
	  $.ajax({
	    url: "/admin/updateStatus",
	    type: "POST",
	    data: {
	      userId: userId,
	      status: newStatus
	    },
	    success: function(response) {
	      alert("상태가 변경되었습니다");
	    },
	    error: function() {
	      alert("상태 변경 실패");
	    }
	  });
	});
</script>
