<center><h1>글내용</h1></center>

<table border="1" align="center" cellspcing="0" cellpaddin="0">
	<tr align="center">
		<td>작성자</td>
		<td th:text="${dto.writer}"></td>
	</tr>
	<tr align="center">
		<td>글제목</td>
		<td th:text="${dto.title}"></td>
	</tr>
	<tr align="center">
		<td>작성날짜</td>
		<td th:text="${#temporals.format(dto.reg, 'yy-MM-dd HH:mm')}"></td>
	</tr>
	<tr align="center">
		<td height="550" width="100">글내용</td>
		<td th:text="${dto.content}"></td>
	</tr>
</table>	
