<center><h1>글작성</h1></center>
<form th:action="@{/board/write}" method="post">
		<input type="hidden" name="num" th:value="${boardDTO.num}"/>
		<input type="hidden" name="ref" th:value="${boardDTO.ref}"/>
		<input type="hidden" name="re_level" th:value="${boardDTO.re_level}"/>
		<input type="hidden" name="re_step" th:value="${boardDTO.re_step}"/>
		
<table width="400" cellspacing="0" cellpadding="0" border="1" align="center">
	<tr height="30" align="center">
		<td width="70">작성자</td>
		<td width="339">
			<input type="text" id="writer" name="writer"  required/>
		</td>
	</tr>
	<tr hegiht="30" align="center">
		<td width="70">
			<label for="title">글제목</label>
		</td>
		<td width="330">
			<!-- 새글 -->
			<span th:if="${boardDTO.num==0}">
			<input type="text" id="title" name="title" size="15" required />
			</span>
			<!-- 답글 -->
			<span th:unless="${boardDTO.num==0}">
				<input type="text" id="title" name="title" size="15" value="[답글]" />
			</span>
		</td>
	</tr>
	<tr height="30">
		<td width="70">
			<label for="content">글내용</label>
		</td>
		<td>
			<textarea id="content" name="content" rows="15" cols="42"></textarea>
		</td>
	</tr>
	<tr height="30" align="center">
		<td>
			<label for="password">비밀번호</label>
		</td>
		<td>
			<input type="password" id="password" name="pw" size="15"  required/>
		</td>
	</tr>
	<tr height="30" align="center">
		<td colspan="2">
			<input type="submit" value="작성" /><input type="reset" value="다시작성" />
		</td>
	</tr>
</table>	
</form>





