<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>내 제보 관리</title>
	<link rel="stylesheet" th:href="@{/css/reporter.css}" />
</head>
<body>
    <h2>내게 배정된 제보글 목록</h2>
    <table border="1">
        <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>상세보기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="report : ${assignedReports}">
                <td th:text="${report.title}"></td>
                <td th:text="${report.writer_id}"></td>
                <td th:text="${#temporals.format(report.reg, 'yyyy-MM-dd HH:mm')}"></td>
                <td><a th:href="@{/report/content(report_id=${report.report_id}, pageNum=1)}">보기</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
